<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>
      {% if is_login %}Login
      {% elif is_home %}{{ site.author }}
      {% elif is_tag %}{{ tag }}
      {% elif post %}{{ post.title }}
      {% endif %}
      | {{ site.name }}
    </title>

    {{ header_meta }}

	<meta name="author" content="chvck">


	<meta name="description" content="A site, mostly, about me and things that I do.">


	<!-- OpenGraph tags -->
	<meta property="og:site_name" content="chvck.co.uk">

	<meta property="og:image" content="http://www.gravatar.com/avatar/3c7055a61f3e23511c27771d70897053?s=256&d=mm&r=g">
	<meta property="og:type" content="website">
	<meta property="og:title" content="chvck.co.uk">
	<meta property="og:url" content="http://chvck.co.uk">
	<meta property="og:description" content="A site, mostly, about me and things that I do.">


	<!-- Twitter Cards -->
	<meta name="twitter:card" content="summary">
	<meta name="twitter:site" content="@https://twitter.com/chvck">

	<meta name="twitter:creator" content="@https://twitter.com/chvck">
	<meta name="twitter:image:src" content="http://www.gravatar.com/avatar/3c7055a61f3e23511c27771d70897053?s=256&d=mm&r=g">
	<meta name="twitter:domain" content="http://chvck.co.uk">


	<link rel="canonical" href="http://chvck.co.uk/" />


	<!-- RSS feed -->
	<link rel="alternate" type="application/rss+xml" title="RSS" href="http://chvck.co.uk/feed.xml">

</head>
<style>
body {
	width: 85%;
	text-align: left;
	font-family: "Times New Roman"; 
	margin-left: auto;
	margin-right: auto;
	color: #333333;
}

img {
	max-width: 640px;
	width: 75%;
}

.tag-cloud ul {
	list-style-type: none;
}

.tag-cloud ul li {
	display: inline;
	margin-right: 5px;
}
</style>
  <body>
        <h1>
			<a href="/">chvck.co.uk</a>
			<hr>
        </h1>
        <a href="{{ site.atom_url }}" title="RSS" target="_blank">
          <i class="icon-rss"></i> RSS
        </a>
          <ul>
          {% if pages %}
          {% for page in pages %}
          <li><a href="{{ page.permalink }}" class="{{ set_active(page.permalink) }}">{{ page.title }}</a></li>
          {% endfor %}
          {% endif %}
          </ul>

      {% if is_home or is_tag %}

          {% if is_tag %}
          <h4 class="sub-heading span6">Showing all posts tagged {{ tag }}:</h4>
          {% endif %}

          {% if posts %}
          {% for post in posts %}
                <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
              {{ post.content }}
                <p class="date">Posted at {{ post.created_at|format_date }}</p>
				<hr>
          {% endfor %}
          {% if not is_tag %}
            {% if pagination.prev %}<a href="{{ pagination.prev }}" class="post-prev">&larr; View Previous Posts</a>{% endif %}
            {% if pagination.next %}<a href="{{ pagination.next }}" class="post-next">View More Posts &rarr;</a>{% endif %}
          {% endif %}
          {% else %}
          <h4 class="sub-heading span6">No Posts Yet :(</h4>
          {% endif %}
            {% if site.tags %}
            <h3>Tags</h3>
            <div class="tag-cloud" id="tag-cloud">
                <ul>
                    {% for tag in site.tags %}
                    <li><a href="/tag/{{ tag.name }}">{{ tag.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            {% endif %}

      {% elif post %}

          <h1>{{ post.title }}</h1>
              <p class="date">Posted at {{ post.created_at|format_date }}</p>
              {{ post.content }}

            {% if post.type == 'link' %}
            <p><a href="{{ post.url }}"><i class="icon-share"></i> {{ post.url }}</a></p>
            {% endif %}

            {% if post.tags %}
            <hr>
            <h3>Tags</h3>
            <ul class="post-tags">
            {% for tag in post.tags %}
              <li><a href="/tag/{{ tag }}">{{ tag|format_tag(link=False, humanize=True) }}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
            <p class="back"><a href="/">&laquo; Go Back</a></p>
            
          {% if site.disqus %}
          <hr>
          <div class="post-comments">
            <div id="disqus_thread"></div>
            <script>
              var disqus_shortname = '{{ site.disqus }}';
              var disqus_url = '{{site.base_url}}{{ post.permalink }}';
              (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
          </div>
          {% endif %}

    {% elif post.type == 'page' %}

          <h1>{{ page.title }}</h1>
            {{ page.content }}
            <p class="back"><a href="/">&laquo; Go Back</a></p>

    {% endif %}

    {{ footer_meta }}    
  </body>
</html>
